<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Starter Template for Bootstrap</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <style>
    .tilt.right {
      transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
    }

    .tilt.left {
      transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
    }

    body {
      min-width: 520px;
    }

    .column {
      width: 270px;
      float: left;
      padding-bottom: 100px;
    }

    .portlet {
      margin: 0 1em 1em 0;
      padding: 0.3em;
      background-color: #EEEEEE;
    }

    .portlet-header {
      padding: 0.2em 0.3em;
      margin-bottom: 0.5em;
      position: relative;
      background-color: lightcyan;
    }

    .column-header {
      padding: 0.2em 0.3em;
      margin-bottom: 0.5em;
      position: relative;
      font-weight: bold;
      background-color: #EEEEEE;
    }

    .portlet-toggle {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -8px;
    }

    .portlet-content {
      padding: 0.4em;
    }

    .portlet-placeholder {
      border: 1px dotted black;
      margin: 0 1em 1em 0;
      height: 50px;
    }
  </style>

  <script>

  </script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>



  <% list.each do |swim_line, columns| %>
    <div class="container-fluid" style="margin-top: 100px" id="<%=swim_line%>">
      <div class="column-header"><%=swim_line%></div>
      <% columns.each do |column, tasks| %>
          <div class="column" id="<%=column%>">
            <div class="column-header"><%=column%></div>
            <% tasks.each do |task| %>
                <div class="portlet" id="<%=task['task']['id']%>">
                  <div class="portlet-header"><%=task['task']['name']%></div>
                  <div class="portlet-content"><%=task['task']['name']%></div>
                </div>

            <% end %>
          </div>
      <% end %>
      </div>
  <% end%>



<script type="text/javascript">

  function createColumn(id){
    var div = $("<div>", {id: id, "class": "column"});
    return div;
  }

  function createPortlet(id, title, content){
    var div = $("<div>", {id: id, "class": "portlet"});
    var header = $("<div>", {id: id, "class": "portlet-header"});
    header.html(title);
    var body = $("<div>", {id: id, "class": "portlet-content"});
    body.html(content);
    div.append(header);
    div.append(body);
    return div;
  }


  $(".column").sortable({
    connectWith: ".column",
    handle: ".portlet-header",
    cancel: ".portlet-toggle",
    start: function (event, ui) {
      ui.item.addClass('tilt');
      tilt_direction(ui.item);
    },
    stop: function (event, ui) {
      ui.item.removeClass("tilt");
      $("html").unbind('mousemove', ui.item.data("move_handler"));
      ui.item.removeData("move_handler");
      console.log(ui.item.context.outerText);
      console.log(ui.item.parent()[0].id);
      console.log(ui.item.context.id);
      console.log(ui.item.parent().parent()[0].id);
    }
  });

  function tilt_direction(item) {
    var left_pos = item.position().left,
        move_handler = function (e) {
          if (e.pageX >= left_pos) {
            item.addClass("right");
            item.removeClass("left");
          } else {
            item.addClass("left");
            item.removeClass("right");
          }
          left_pos = e.pageX;
        };
    $("html").bind("mousemove", move_handler);
    item.data("move_handler", move_handler);
  }

  $(".portlet")
      .addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
      .find(".portlet-header")
      .addClass("ui-widget-header ui-corner-all")
      .prepend("<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>");

  $(".portlet-toggle").click(function () {
    var icon = $(this);
    icon.toggleClass("ui-icon-minusthick ui-icon-plusthick");
    icon.closest(".portlet").find(".portlet-content").toggle();
  });

//  $( document ).ready(function() {
//    $.getJSON("/api/all", function (data) {
////      console.log(data);
//      $.each(data, function (key, object) {
////        console.log(key);
////        console.log(object);
//        var $col = createColumn(key);
//        $.each(object, function (key2, object2) {
////          console.log(key2);
////          console.log(object2);
//          var $row = createPortlet("1","Title","Content");
//          $col.append($row);
//        });
//        $("#main_board").append($col).html();
//
//      });
//
//
//    });
//  });

</script>


</body>
</html>
